#email{
    width: 100%;
    border-color:rgb(140, 188, 226)
 }
 
 #message{
     width: 100%;
     height: 50px;
     margin-top: 10px;
     border-color:rgb(140, 188, 226)
 }

 button{
    background-color: orange;
    height: 26px;
    border-radius: 12px;
    box-shadow: 2px 3px 4px grey;
    border-style: none;
    margin: 10px;
}