<!-- onsubmit="return false" -->
<br>
<div class="container">
    <form target="_blank" action="https://formsubmit.co/nikuzejl@gmail.com" method="POST">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_subject" value="Email from site visitors">
        
        <div>
            <input id="email" type="email" name="email" placeholder="Your email address" required>
        </div>

        <div>
            <textarea id="message" type="text" name="message" placeholder="Write your message here" required></textarea>
        </div>

        <input type="hidden" name="_next" value="http://localhost:4200/confirmation">
        <!-- <input type="hidden" name="_next" value="https://nikuzejl.github.io/"> -->
        <button type="submit"> Send</button>
    </form>
</div>
