<div class="container">
  
     <h2> Undergraduate degree application</h2>

     <ul>
      <li> I guess you either are still in high school or you are a recent graduate. I know that it is not always easy to practice English if do not live in an English-speaking country.
        However, keep an open mind and don't be like me who thought I would never study in an English system.
      </li>

      <p></p> <li> Build your extracurricular activities because when you apply to colleges, your grades are not everything. You need to be an active person outside your classrooms. Therefore, volunteer, take leadership roles, participate in clubs, be involved!
      </li>

      <p></p> <li> Do well in your classes. Your high school grades will help you to stand out among thousands of applicants. Do your best so that at the end of the year, you can look back and say that you do not have any regrets.
      </li>

      <p></p> <li> Keep in touch with your current classmates after graduation. Create social media groups and share different opportunities that you will come across. On a personal note, I am where I am today because somebody shared an opportunity with me via WhatsApp a few months after graduating from high school.
      </li>

     </ul>

    <p>
       <a href= "https://www.wikihow.com/Prepare-for-College-in-High-School" target="_blank"> Click here </a> for more information about college readiness.
       </p>

        <p> If you have already graduated from high school, congratulations!
                  It is very likely that English is not your mother language. Therefore, your schools might require you to take TOEFL, which is a standardized test that helps to evaluate your English.
   
       It has four sections: reading, writing, listening and speaking. The test is offered online in different locations around the world.

                        <p></p>  <li> For more information about TOEFL, <a href= "https://www.ets.org/toefl" target="_blank"> click here </a> </li>
       
      <p></p>  <li> Continue practicing English by reading, speaking and writing English. If you have time, learn how to type faster on a computer keyboard.
      </li>
      <p>
        Other schools also accept other English tests such as <a href= "https://www.ielts.org/" target="_blank"> IELTS</a> and <a href= "https://englishtest.duolingo.com/home" target="_blank"> Duolingo </a>
      </p>

      <p>
        Some schools will also require another standardized test such as <a href= "https://collegereadiness.collegeboard.org/sat" target="_blank">SAT </a> or <a href= "https://www.act.org/" target="_blank">ACT </a>.
            <p>
              </p>

  <h3>Admission first, then financial aid</h3>
    <p> An admission is different from a scholarship.
        <ul>
     <li> If you want to get a scholarship from a university, you first apply as anybody else in order to be admitted.
       Most schools will ask you to complete a separate financial aid application in order to take care of your funding.
     </li>
      
           <p></p> <li> You may also get financial aid from another organization that accepts to cover your school fees.
      For example, the <a href= "https://mastercardfdn.org/" target="_blank"> MasterCard Foundation </a> gives scholarships to many African students who want to pursue their graduate studies in different
      countries around the world. In order to get the MasterCard scholarship, you apply to its partner universities in order to get an admission first.
      When you have a university admission, then you apply for funding to the MasterCard Foundation.
     </li>
      
          <p></p> <li> People get scholarships in so many different ways. The most common scholarships are provided by universities themselves
      or their partner organizations such as the MasterCard Foundation. You can also look for other organizations that can fund your education 
      or reach out to the government of your country if it is willing to help you. Or if you are rich enough, you can just pay for yourself.
     </li>  
           
     <p></p> <li> Because preparations for university applications are usually tedious for people who are not English native speakers, there are organizations
      that help students to prepare and start applying to university.
     </li>  
      </ul>
     <p>Here are some of those organizations that I know: </p>
  
     <p> To attend the following programs, you need to graduate from high school first: </p>
       <ul>
      <li> <a href = "http://bridge2rwanda.org/" target="_blank">Bridge2Rwanda </a> : After graduating from high, students spend a year learning English and preparing applications, do TOEFL/SAT then apply to universities. This program is based in Kigali. </li>
      <li> <a href = "https://en.ashinaga.org/"target="_blank"> Ashinaga</a>: This is a gap-year program as Bridge2Rwanda except that it has a French branch in Sénégal and an English branch in Uganda. </li>
      <li> <a href = "http://www.tujenge.org/" target="_blank"> Tujenge</a>: It does the same thing as Ashinaga and Bridge2Rwanda. It is based in Bujumbura. </li>
             </ul>    
     <br> These institutions include both high school and preparations for university applications:
              <ul>
      <li> <a href = "https://www.uwc.org/" target="_blank"> United World College</a> : it has branches on every continent  </li>
     <li> <a href = "http://www.africanleadershipacademy.org/" target="_blank"> African Leadership Academy</a>: based in South Africa  </li>
              </ul>

</div>

