<div class="container">
  <br>
  If English is not your native language, it is likely that your American school will require you take an English test.
  I believe that you should know this as you prepare your application:

  <ul>
    <li> Do well in your classes so that your grades can help you to stand out among thousands of applicants</li>

    <li> Your grades are not everything. You also need extracurricular activities to show that you are an active member
        of society. Therefore, you should try to be involved in your community by volunteering or leading organizations.
    </li>

    <li>Work hard to get above the minimum standardized test scores required by your schools
    </li>
  </ul>

  Here are some of the documents that you will need for your application:
  <ul>
    <li>Undergraduate degree</li>
    <li>National exam scores</li>
    <li>High school transcripts (usually the last three years)</li>
    <li>Recommendation letters</li>
  </ul>

  <p>The English test that you will have to take will depend on the school that you are applying to.
    However, the most common test is called TOEFL(Test of English as a Foreign Language).
    It has four sections: reading, writing, listening and speaking.
    <br> 
    For more information about TOEFL, <a href= "https://www.ets.org/toefl" target="_blank"> click here. </a>
       
  <p>
    Instead of TOEFL, your school might allow you to take <a href= "https://www.ielts.org/" target="_blank"> IELTS</a> 
    or <a href= "https://englishtest.duolingo.com/home" target="_blank"> Duolingo </a>
  </p>

  <p>
    Some schools will also require tests called <a href= "https://collegereadiness.collegeboard.org/sat" target="_blank">SAT </a> or 
    <a href= "https://www.act.org/" target="_blank">ACT </a>.
  <p>

  If for some reason you are not able to do any of those standardized test.There are a few schools
  (mostly community colleges which do not require any of these tests).

  <h2>Admission and financial aid</h2>
    Before you get a scholarship, you will need to apply as anybody else in order to get an admission.
    When you are admitted, then you can potentially receive a scholarship. Most undegraduate students apply to 
    different scholarships offered by the universities that they are applying to. Make sure to check throughly your
    school's website to see which kind of financial aid it provides to its students. 
     
    <br>
    You may also receive financial aid from another organization that can pay your universities expenses.
    For example, the <a href= "https://mastercardfdn.org/" target="_blank"> MasterCard Foundation </a> gives scholarships 
    to many African students who want to pursue their undergraduate and graduate studies in differentncountries around the world. 
    In order to get the MasterCard scholarship, you apply to its partner universities first. When you are admitted, you apply
    to the MasterCard Foundation scholarship.
     
    <br>
    Some governments might also pay for your higher education in a foreign country. Moreover, you can request a student loan
    that you will have to pay after graduation. If you have the money, you can always pay for yourself. 

    <h2> <br>College readiness programs</h2>
    There are organizations which help high school students or high school graduates to prepare for the standardized tests
    and guide them through the university application process.

    <p> For high school graduates</p>
      <ul>
        <li> <a href = "https://en.ashinaga.org/"target="_blank"> Ashinaga</a>: This is a gap-year program as Bridge2Rwanda except 
          that it has a French branch in Sénégal and an English branch in Uganda. 
        </li>
        <li> <a href = "http://www.tujenge.org/" target="_blank"> Tujenge</a>: It does the same thing as Ashinaga and Bridge2Rwanda. 
          It is based in Bujumbura.
        </li>
      </ul>  

      <br> These institutions help students to apply to universities while they are still in high school:
      <ul>
        <li> <a href = "http://bridge2rwanda.org/" target="_blank">Bridge2Rwanda </a> : After graduating from high, students spend a 
          year learning English and preparing applications, do TOEFL/SAT then apply to universities. This program is based in Kigali. </li>
        <li> <a href = "https://www.uwc.org/" target="_blank"> United World College</a> : it has branches on every continent  </li>
        <li> <a href = "http://www.africanleadershipacademy.org/" target="_blank"> African Leadership Academy</a>: based in South Africa  </li>
      </ul>
</div>

