<div id="other-opportunities">
  <h2>Other opportunities</h2>
  <p> Here are some other opportunities that you can apply to:</p>
  <ul>
    <li> <a href="https://www.erasmusmundus.eu/" target="_blank"> Erasmus Mundus Joint Masters</a></li>
    <li> <a href="https://www.chevening.org/scholarship/burundi/" target="_blank"> Chevening Scholarship</a></li>
    <li> <a href="https://www.mastercardfoundation.org/education/" target="_blank"> MasterCard Foundation Scholars
        Program</a></li>
  </ul>
  <h2>Other scholarships</h2>
  <ul>
    <li> <a href="https://www.auf.org/ameriques/nouvelles/appels-a-candidatures/appel-candidatures-programme-de-bourses-dexemption-des-droits-de-scolarite-supplementaires-2024-quebec-canada/
    " target="_blank"> Programme de bourses d’exemption des droits de scolarité supplémentaires au Québec, Canada </a>
    </li>
    <li> <a href="https://mccallmacbainscholars.org/apply" target="_blank"> McCall MacBain Scholarship at McGill
        University</a></li>
    <li> <a href="https://www.quebecmetiersdavenir.com/bourse-dexcellence/" target="_blank"> Métiers d'avenir Quebec
      </a></li>
    <li> <a href="https://www.turkiyeburslari.gov.tr/applysteps" target="_blank">Turkish scholarships </a></li>
  </ul>

  <h2>Other immigration programs</h2>
  <ul>
    <li> <a href="https://dvprogram.state.gov/" target="_blank"> USA Diversity Lottery Program (Green Card)</a></li>
    <li> <a
        href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility/federal-skilled-workers.html"
        target="_blank">Canada Federal Skilled Worker Program </a></li>
    <li> <a href="https://www.quebec.ca/en/immigration/permanent/skilled-workers/regular-skilled-worker-program"
        target="_blank"> Quebec Regular Skilled Worker Program</a></li>
  </ul>

   <h2>Processus yo gusaba ishure na visa muri Canada</h2>
1. Gusaba université. Ku mashure meshi basaba ama bulletins yimyaka itatu yanyuma ya secondaire, amanota ya Exetat na certificat ya secondaire. Frais yo kugira bashobore gutraita candidature yawe ni autour ya 100 dollars canadiens. Urashobora kurondera kuri Google ama universités woshobora gusabako ikibanza

2. Uronse ishure muri province ya Québec, uca usaba iyindi document yitwa CAQ ngaha https://www.quebec.ca/education/etudier-quebec/demande-selection-temporaire. Iyo CAQ isaba 124 dollars canadiens. Waronse ishure mu yandi ma provinces iyo CAQ ntikenewe

3. Uronse iyo CAQ uca utangura gusaba visa ngaha https://www.canada.ca/fr/immigration-refugies-citoyennete/services/etudier-canada/permis-etudes.html. 

Bisaba ibi bikurikira na 235 dollars canadiens:

-Lettre d'admission wahawe nishure

-CAQ

-Preuves de ressources financières: nimba waronse bourse uvyerekane, nimba uzokwirihira canke ari uwundi muntu azokurihira werekane ko ayo mahera ahari. Minimum ni mineraval yumvaka + 20 635  dollars canadiens

-Passeport n'ifoto yawe

-Ayandi ma documents  baguha ucompleta en ligne

4. Haheze imisi mikeyi urungitse ama documents yose yo gusaba visa, baca bagutuma kugirisha empreintes digitales. Kigali niho hafi ushobora kubigirisha

5. Mu nyuma baragutuma tests médicaux ugirisha i Bujumbura muri OIM. Bitwara mu ma 625 mille BIF

6. Inyuma yaho baca baguha inyishu yuko bakwemereye canke bakwankiye

7. Bakwemereye visa uca urungika passport yawe i Dar-es-Salaam kugira bagushiriremwo visa. Kujana passeport muri muri consulat ya Canada  muri Tanzanie no kuyigarukana i Bujumbura bitwara nka 200 dollars. Muri DHL i Bujumbura passeport igarutse baca baguterefona ukaja kuyitora.

<h2>Gusaba master</h2>
Hanyuma iyo uriko urondera amashure en plus yo kuronka ikibanza, wama uraba cane aide financiere ushobora kuronka kubera amashure yino arazimvye kandi uterekanye ko wifitiye amahera canke waronse bourses, muri ambassade ntiboguha visa.

Ikindi kubera icongereza atari langue maternelle yawe, wize muri system anglophone amashure meshi asaba ko ukora ikibazo cicongereza. Amashure meshi yemera imwe muri aya tests Duolingo https://englishtest.duolingo.com/home, TOEFL https://www.ets.org/toefl canke IELTS https://www.ielts.org/.
Bisaba ko uraba kuri website yishure usaba ukoraba test basaba.

Kubera muri Canada hariho ama universites amwe amwe akoresha igifaransa, muri ico gihe ntuba ugikeneye ayo ma tests kubera mu Burundi dukoresha igifaransa.

En general ama bourses d’études complètes hamwe bakurihira 100% muri Master ni make ugereranije no muri Baccalaureat. Amashure atanga ayo ma bourses mu buryo butandukanye. Bisaba ko uraba amashure afise ivyo ushaka kwiga, ukaca uraba nama aides financieres ayo mashure atanga.

Urashobora kurondera ONG zisponsoriza ama Masters mu gihugu ugiyemwo. Iyo nzi neza abarundi, kenyans, tanzaniens, kenyans bamwe bamwe na jewe nzi bashoboye kuronka bafashijwe na organization yitwa MasterCard Scholars foundation. Kuri iyi site https://mastercardfdn.org/all/scholars/becoming-a-scholar/apply-to-the-scholars-program/  ahanditse Master's Studies urabona liste yama universites yo muri Africa, Europe, Canada na USA bakorana. Hariko nama liens akujana ku ma websites yayo mashure. Urasaba ikibanza kuri ayo ma uni hanyuma uronse ikibanza ugaca usaba financement ya MasterCard Foundation kandi bacouvra vyose minerval, assurance medicale, argent de poche, logement ni ticket. Nta yandi ma organizations nzi asponsoriza ama masters muri Amerique du Nord ariko ashobora kuba ahari nkaba ntayazi

Ikindi urashobora gusaba financial aid directement kwishure uzokwigako. Barashobora gucouvra pourcentage nini yamahera akenewe ayandi makeyi abura ukayakorera uriko uriga ino. Ushobora gukora akazi gasanzwe canke ugakora ibintu academique kwishure nko kuba umu Research Assistant canke Teaching Assistant en meme temps uriko uriga master.

<h2>Taking TOEFL in Burundi</h2>
Kuri bimwe bijanye no gukorera TOEFL mu Burundi ngibi ivyo bambwiye.

Mu kwitegura canke kugira umenye ama dates nikibanza izokorerwamwo wobariza muri American Spaces (ni branche ya embassade ya USA). Ubanza kwiyandikisha ngaha

https://docs.google.com/forms/d/e/1FAIpQLSeuw20DxSdptBQW0L6dv32rvsCcMm83MkaFskYPVPa4nISW9Q/viewform

Pour plus d’infos https://bi.usembassy.gov/education-culture/american-spaces/

Ahandi naho hitwa ELC (English Language Center). Bigisha icongereza bakongera bagafasha gu scheduling umusi wo gukora TOEFL. Woraba info zijanye niyo centre ngaha https://www.facebook.com/profile.php?id=100032260522119

Ayo ma infos nayahawe nabantu bakoreye TOEFL mu Burundi. Urumva rero barayihakorera

<h2>Express Entry Canada</h2>
Ivya admissibilite mworaba ngaha https://onlineservices-servicesenligne.cic.gc.ca/c2c/eapp
Minimum grades on tests https://www.canada.ca/fr/immigration-refugies-citoyennete/organisation/publications-guides/bulletins-guides-operationnels/exigences-normalisees/exigences-linguistiques/tableaux-equivalences-resultats-tests.html

PNP
----
SINP scattewan
Manitoba PNP
Alberta express entry stream
NSNP Nova Scotia
BPC PNP Internation post-graduate stream

Neededed info:
Passport
Marita statusNumber of kids
Work experience: position, responsibilities, duration, location
Education: diploma, duration, location, major

Quebec french tests
https://www.quebec.ca/immigration/permanente/travailleurs-qualifies/programme-regulier-travailleurs-qualifies/examen

https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/eligibility/criteria-comprehensive-ranking-system/grid.html

<h2>  Canada visa process summary</h2>
Kugira ushobore kuza ino canke no mu bindi bihugu bimwe bimwe, bisaba kuronka visa ikwemerera kuja muri ico gihugu

Ama visas ari ubwoko butandukanye bivyanye nikiba kikujanye muri ico gihugu nama preuves basaba aratandukanye bivanye na visa umuntu ariko ararondera. Par exemple, ugiye kwiga bisaba kuba wararonse ishure ukanerekana nimba ufise bourse canke uwuzokwirihira. Nimba urondeye visa touristique yo gutembera urerekana ikikujanye, aho uzoshikira, imisi uzomara, ukanerekana kufise igituma uzogaruka visite iheze (ico usanzwe ukora, amahera winjiza,...)

Ufise expérience professionnelle, Canada irafise programme yaba travailleurs qualifiés umuntu ashobora gusaba.

Kuvyakazi, nko muri Etats Unis si ubuzi bwose bashobora kuguhera visa kandi ntushobora gusaba visa uvuga ngo ugiye kurondera akazi. Bisaba kuronka akazi ubwambere kajanye nivyo wigiye hanyuma company iguhaye akazi ikagufasha kurondera visa mu gihe babona ko ako kazi gakwije ibisabwa.

Hariho nayandi ma categories atandukanye bivanye nigihugu uriko urayisabamwo. Hariho nkabantu bagira regroupement familial kugira bajane ama familles yabo (umugabo, umugore, abana,...) 

Ibindi vyoroshe gusaba nivya lotterie ya Green Card muri Etats Unis naho batora abantu bake, ugize ama chances barashobora kugutora.

Hariho n’abandi bafashwa kuronka ama visas na UNHCR mu bintu vyimpunzi.
————
Hariho abantu bagira ama services yo gufasha abantu kurondera ama visas. Bagufasha nko kurondera nka conférences wovuga ko ugiyemwo nama preuves werekana canke bakagufasha gusaba ishure ariko sibo batanga visa kuko ntibababa bakora mu ma embassades.

Bose si abo kwizera kuko nta garantie yuko ivyo bagufashije bica bikunda.
——

<h2> Campus France</h2>
Conditions pour poursuivre ses etudes en France
https://www.burundi.campusfrance.org/fr/les-conditions-pour-poursuivre-ses-etudes-en-france
Tests de Francais
https://www.burundi.campusfrance.org/fr/les-tests-et-diplomes-de-francais-0

Procedures de candidature
https://www.burundi.campusfrance.org/fr/les-procedures-de-candidature

Tutoriels
https://www.burundi.campusfrance.org/fr/les-tutoriels-etudes-en-france

Etablissements
https://www.burundi.campusfrance.org/fr/les-etablissements-connectes

Cout et financement
https://www.burundi.campusfrance.org/fr/le-cout-et-le-financement-des-etudes-superieures-en-france

Apres avoir ete accepte dans un etablissement
https://www.burundi.campusfrance.org/fr/les-demarches-apres-avoir-ete-accepte-e

<h2>Turkey</h2>
Turkey
•https://www.turkiyeburslari.gov.tr/

•https://www.mastere.tn/

•https://www.afterschoolafrica.com/

https://opportunitydesk.org/

<h2>TOEFL</h2>
Kubijanye na TOEFL rero, icambere wobanza ugasoma igitabo iki gitabo. Kizogufasha kumenya vyishi bijanye niyo test, hanyuma uzotangure gupracticing hanyuma.

 _- The Official Guide To The New Toefl Ibt-McGr...


Hariho ama campanies akorera muri ibi vyama tests (par exemple izitwa Kaplan, ETS, Magoosh,...). Naho baca amahera ku bintu bimwe bimwe, barafise ama websites atandukanye woshobora kuronkako practice tests utiriwe urariha.  Ama practice tests amwe nashoboye kuronka ubu ni aya:

https://www.ets.org/s/toefl/pdf/free_practice_test.pdf

https://www.ets.org/s/toefl/pdf/reading_practice_sets_large_print.pdf

https://www.ets.org/s/toefl_itp/pdf/itp-practice-test-level-1-volume-1-ebook.pdf


Barron's TOEFL practice test

https://toefl.learnwithatom.com/index-splash.html

IETS Practice tests

https://www.ets.org/s/toefl/free-practice/start.html

https://www.ets.org/toefl/test-takers/ibt/prepare/tests

Ayandi ma exercices woshobora kuyaraba

​Kugira ushobore gu practicing nkuko woba uriko urakora ikibazo bwite, uzogerageze kwinstalla iyi programme (niyakera sinzi ko ir compatible ku mashini ukoresha ubu)


Bidakunze ko winstalla izi, wogerageza ku googling urabe ko hari izindi software woronka. Par exemple wogerageza https://free-toefl-practice-test.en.softonic.com/.

Niwaba ufise ibindi bibazo uzoza urambaza.




<h2>Duolingo</h2>
Hariho test yicongereza yitwa Duolingo amashure meshi yemera. Woshobora kubara kugira practice test ngaha ukaraba ingene imeze, ukipima niveau yawe yicongereza https://englishtest.duolingo.com/applicants

Iyo test ifise ama sections ane: reading, writing, listening na speaking.

Mu kwitegurira iyo test  wokoresha YouTube. Par exemple nkiyi channel yokwigisha ibitari bike https://www.youtube.com/c/EnglishwithLuke

Woshobora kandi no gusoma iki gitabo kijanye na Duolingo kugira umenye ivyo babaza ingene bimeze.

Link to the book: https://www.amazon.com/Duolingo-English-Test-Preparation-Guide/dp/1735865802
</div>