<div class="container" >
     <h2> Graduate school applications</h2>

     <ul>
      <li> To be honest, I am not an expert when it comes to graduate school applications. However, I want to share with you what I know.
                  </li>

      <li> Your university grades are not everything. In addition to succeeding in class, you need to be an active person in the real world. Therefore, volunteer, intern, take leadership roles, participate in clubs, be involved! You will need all that in your interviews and essays.
      </li>
       <li> If you have research opportunities at your university, doing research while you are still in school will enhance your application.
       </li>
       
      <li> Get good grades in all your classes if you are still in school. Your grades will help you to stand out among thousands of applicants.
      </li>

      <li> You need to know WHAT YOU WANT to do in graduate school. Learn more about different programs, research projects happening at the universities that you are interested in. If possible, get in touch with professors at those schools and express your interest.
      </li>



      <li> It is very likely that English is not your mother language. Therefore, your schools might require you to take TOEFL, which is a standardized test that helps to evaluate your English. It has four sections: reading, writing, listening and speaking. The test is offered online in different locations around the world.
      </li>

       <li> For more information about TOEFL, <a href= "https://www.ets.org/toefl"> click here </a> </li>

       <li> Some schools might require an exam called GRE before you apply. For more information about GRE, <a href= "https://www.ets.org/gre/"> click here </a> </li>
      
       
      <li> Continue practicing English by reading, speaking and writing English. If you have time, learn how to type faster on a computer keyboard.
      </li>

      <li> Keep in touch with your current classmates after graduation. Create social media groups and share different opportunities that you will come across.
      </li>

     </ul>
      <p>
            There are differnet organization that can finance your graduate education. For example, the European Union offers fully funded master's programs in different countries
            through a scholarship program called <a href="https://erasmus-plus.ec.europa.eu/opportunities/individuals/students/erasmus-mundus-joint-masters-scholarships">Erasmus</a>.
            
            <br> This is one example of 
            <a href= "https://eeas.europa.eu/delegations/burundi_fr/106231/Les%20candidatures%20individuelles%20aux%20masters%20d%E2%80%99excellence%20du%20Programme%20Erasmus+%20sont%20ouvertes%20"> announcement of scholarship offer in 2021  </a> 
            <br> Another one for scholarships in the United Kingdom is <a href="https://www.chevening.org/scholarship/burundi/"> Chevening</a>
            
      </p>

  <h3>Admission first, the financial aid</h3>
    <p> Admission or acceptance is different from a scholarship.
     <p> If you want to get a scholarship from a university, you first apply as anybody else in order to get an admission. Most schools will ask you to complete a separate financial aid application in order to take care of your funding.
     </p>
      
           <p> You may also get financial aid from another organization that accepts to cover your school fees. For example, the <a href= "https://mastercardfdn.org/"> MasterCard Foundation </a> gives scholarships to many African students who want to pursue their graduate studies in different countries around the world. In order to get the MasterCard scholarship, you apply to its partner universities in order to be admitted first. When you have a university admission, then you apply for funding to the MasterCard Foundation.
     </p> 
  
           <p>People get scholarships in so many different ways. The most common scholarships are provided by universities themselves or their partner organizations such as the MasterCard Foundation. You can also look for other organizations that can fund your education or reach out to the government of your country if it is willing to help you. Or if you are rich enough, you can just pay for yourself.
     </p>

     <p> Surprisingly enough, it is usually easier to get full scholarships for PhD programs than master's programs. If you feel like you want to have a career in research or academics, a PhD is a good way to go.
      Just remember that it is a serious commitment of probably 5 years in school.
     </p>

     <p> At some universities, you can start a PhD program right after finishing your undergraduate degree, while others might require you do master's first and continue to PhD afterward.
     </p>

</div>

