@media (min-width:480px){
    .title{
        display: flex;
        color:white;
        /* color: rgb(41, 147, 235); */
    }
    .subtitle{
        width: 25%;
        background-color: rgb(59, 149, 190);
    }

    a{
        font-size: 1em;
    }
}

.title{
    color:white;
}

.subtitle{
    background-color: rgb(59, 149, 190);
    text-align: center;
}

.container{
    margin: 0 5%;
}
