  <!-- <mat-toolbar color="primary"> -->
    <!-- <mat-toolbar-row> -->
      <div class="title">

        <!-- [ngClass]="selectedHome() -->
        <div class="subtitle">
            <a mat-button [routerLink]="'/general'"> GENERAL INFO </a>
        </div>

        <div class="subtitle">
          <a mat-button [routerLink]="'/grad'"> GRADUATE </a>
        </div>

        <div class="subtitle"> 
          <a mat-button [routerLink]="'/undergrad'"> UNDERGRADUATE </a> 
        </div>

        <div class="subtitle">
          <a mat-button [routerLink]="'/contact'"> Contact Us</a>
        </div>
      </div>
    <!-- </mat-toolbar-row> -->
  <!-- </mat-toolbar> -->
<div class="container">
  <router-outlet></router-outlet> 
</div>