
<div class="container">
    <p> <br>
      Applying to university in a foreign country can be daunting. However, thousands of international students
      around the world make it every year. You too can make it! 
      <br>
      I grew up in Burundi, and I went to the United States for my university studies. I can share with you what I know
      about the application process. Even if I am not familiar with university applications in other countries, 
      you can easily find almost any kind of information you need on the web. 

      <br>
      Whether you are interested in undergraduate studies (<i>baccalauréat ou licence</i>) or graduate studies (<i>master ou doctorat</i>), 
      I will tell you how you should proceed.

    </p>
    
    <h2>About the American higher education system</h2>
      In the U.S, Bachelor's degrees are earned in four years, Master's degrees in 1-2 years, and Ph.D. 4-6 years. 
      Unlike many other countries, you cannot start medical school straight out of high school from your first 
      year of university. You have to first earn a four-year bachelor's degree in any major(<i>faculté</i>), then apply 
      to medical school, which you usually attend for four years. The same applies to dental, veterinary, or law school.

      <br>
      In the U.S, you are not required to declare your major until the second year of university, which means that by the time 
      you start university is okay to be undecided about what you want to study. In case, you are interested in applying 
      to Canadian universities, the Canadian education system also has a lot in common with the U.S education system.

    <br> <br>
    <h2> University vs college vs community college</h2>
     You will often hear the terms "University", "College" and "Community College", and you should know what each one of them means.
    <ul>
      <li>
        <b> University</b>: offers undergraduate degrees(bachelor's and graduate degrees(master's degrees and/or PhD)
      </li>

      <li>
      <b> College</b>: offers only undergraduate degrees (bachelor's). Therefore, you can get a bachelor's degree at either a college 
        or a university. Moreover, the terms "College" and "University" are interchangeably 
        used in the United States
      </li>
      
      <li>
      <b> Community College</b>: offers associate degrees. You can transfer from a community college to a college or university if 
          you want more advanced degrees.
      </li>
    </ul>

    <p>
      In the US, the words "college" and "university" are often used interchangeably, and their cost of attendance 
      is more or less similar. You can get your bachelor's degree at a university or a college.
    </p>
    
    <h2>Financial aid</h2>  
      American schools are notoriously expensive. Unless you are really rich, you will need financial aid. You should make sure 
      the school that you are applying to normally gives financial aid. Admission is the most important step because 
      you will need to be admitted before your school considers giving you a scholarship.
      Most schools will normally fund your education if they like you as a student. There are different types of scholarships, 
      but many international students often receive need-based scholarships.
    
    <br> <br>
    <h2> So, where should you start this whole application process?</h2>
    <ul>
      <li>Look up different schools that have the majors("facultés") that you are interested in</li>
      <li>Decide which country or region in which you want to study</li>
      <li>Look for universities that have majors that you are interested in</li>
      <li>Look at the university's website for different application requirements, especially standardized tests and 
        language requirements for international students
      </li>
      <li>If you know that you will need a scholarship, make sure the university provides scholarship opportunities</li>
      <li>Prepare standardized tests and get the best scores you can get</li>
      <li>Find different application documents</li>
      <li>Submit your application and hope for the best!</li>
    </ul>

      To increase your chances, you might need to apply to many universities. Do not hesitate to contact the 
      schools that you are interested in if you have any questions. It might also be helpful to talk to current students or alumni 
      of a school that you are applying to.

      You can find out more here about <a [routerLink]="'/grad'"> graduate </a> or  <a [routerLink]="'/undergrad'"> undergraduate </a> studies.
      
      <br><br>
      <h2>Some resources</h2>
      <p>
        <a href= "https://www.wikihow.com/Prepare-for-College-in-High-School" target="_blank"> Click here </a> 
        for more information about college readiness. 
      </p>

      Here are other things you might need to know <br>
      <a href="https://www.topuniversities.com/blog/what-liberal-arts-education">What is Liberal Arts Education </a>
      <br>
      <a href="https://www.usnews.com/education/community-colleges/articles/2015/02/06/frequently-asked-questions-community-college">
        More information about community colleges 
      </a>

      <a href="https://www.prepscholar.com/gre/blog/statement-of-purpose-vs-personal-statement/"> Personal statement vs statement of purpose</a>