
<div class="container">
    <p>
      You have made the right decision. It is time to attend university!
      Your education will help you to learn new skills, grow as a person, 
      explore, be challenged, get a job.... It is important that you take
      this next step seriously, have an open mindset and most importantly, 
      work hard to achieve your goals.
    </p>
      
    <h2>A little bit about the North American education system</h2>
    
    The American and Canadian education systems are very similar. Bachelor's degrees are earned in four years, master's degrees 1-2 years and PhD 4-6 years.
    In the United States or Canada, you cannot start medical school from your first year of university. You need to earn a bachelor's degree first, in any major, and then apply to medical school later, which usually lasts for 3 years. The process is the same for law school.
    You are not required to declare a major until the second year of university, which means that is acceptable to be undecided when you start school. You can also have more than one major or minor during your 4 years of university without paying additional tuition.
    Most universities are Liberal Arts schools but few of them are not.
    
    <h2>Beware of scams</h2> 

    Scammers know that you really want to study abroad. There are many frauds on the internet
    and that is why you should make sure that your applications are submitted on official websites.You should be alarmed if scammers start asking for money or sensitive information.
    
    <h2> Universit vs college vs community college</h2>
    <ul>
      <li>
        A university is an institution which offers undergraduate degrees(bachelor's degrees) and 
        graduate degrees(master's degrees and/or PhD)
      </li>

      <li>
        A college offers just bachelor's degrees. Therefore, you can get a bachelor's degree at either a college or a university. Moreover, the terms "College" and "University" are interchangeably
        used in the United States
      </li>
      
      <li>
        A community college offers associate degrees. After finishing a community college, you can transit to a college or university
      </li>
    </ul>

  <p>
    Sometimes, you might wanna apply to community college because their tution is usually lower than the univerisities and colleges. Moreover, most community colleges do not require any standardized tests (TOEFL, SAT,...).
    Remember that you can always transfer to a college from a community college. There are public and private universities.
    Private universities are most likely to offer scholarships to international students.
  </p>
    
    There are public and private universities. Private universities are most likely to offer scholarships to international students.
  
  <h2>Application timeline</h2>
    Schools have different application deadlines. For undergraduate applications, you can find the most common schedule here
  
  <h2>Financial aid</h2>  
    Financial aid is very important because education is very expensive in the United States. 
    Scholarships are competitive, and that is why you need to work hard to get them.
    Most schools will normally fund your education if they like you as a student. 
    Keep in mind that it does not matter if you show how miserable and poor you are without proving that, as a student, you are a good candidate for that particular school. Your main focus should be to present yourself as a good student. When you are admitted, it will not be hard to get financial aid. However, make sure that the schools you are applying to normally give financial aid.
    
    <h2>Before you start your application</h2>
    Look up different schools which have the majors("facultés") that you are interested in
    Which parts of the country do you like the most? (East, West, cold or hot weather, 
    or you just don't care about those factors? )
    What do you like about the institutions that you are applying to? (this will help in 
    your essays when you need to explain why you are a good fit for your school)
    
    Some of the documents that you will need for your application
    If you apply for an undergraduate degree:
    National exam scores
    High school transcripts (usually the last three years)
    Recommendation letters from your professors
    If you apply for a graduate degree
    
    University transcripts
    Recommendation letters from your professors
    You will also need to write different essays such as personal statements or letters of motivation.